#newuser-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newuser-page h1 {
    margin: 1rem;
}

#newuser-page h2 {
    margin: 1rem;
}

#newuser-page .new-account .create-user-form {
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#newuser-page .new-account .create-user-form .input-block #name {
    padding: 8px;
}

#newuser-page .new-account .create-user-form .input-block #email {
    padding: 8px;
}

#newuser-page .new-account .create-user-form .input-block #password {
    padding: 8px;
}

#newuser-page .new-account .create-user-form .input-block #confirm-password {
    padding: 8px;
}

#newuser-page .new-account .create-user-form  #submit-button {
    padding: 8px;
}